ul {
    list-style-type: none;
    display: inline-flex;
    float: right;
    font-family: "Orbitron";
    font-size: 20px;
    color: #007270;
}

.dropDown {
    list-style-type: none;
    display: inline-flex;
    float: right;
    font-family: "Orbitron";
    font-size: 20px;
    color: #007270;
}

select {
    margin-left: 10px;
    cursor: pointer;
}

li {
    padding-left: 25px;
    opacity: 1;
    cursor: pointer;
}

.container {
    padding: 15px;
    background-color: black;
    opacity: 0.5;
    width: 100%;
}

h6 {
    text-align: center;
    font-family: "Orbitron";
    color: #007270;
}

.containerHeader {
    position: fixed;
}

.song {
    text-align: center;
}

h3 {
    text-align: center;
}

.page1 {
    padding-top: 464px;
    padding-bottom: 149px;
}

body {
    background-color: #9BFAE2;
    opacity: 1;
}

.interview {
    width: 40%;
    margin-left: 450px;
}

.image {
    position: fixed;
    opacity: 0.3;
}

a {
    text-decoration: none !important;
}
